.ApiUnhealthy {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.8;
    z-index: 1000;
}
  
.ApiUnhealthy div {
    color: white;
    position:relative;
    top:40%;
    z-index: 1000;
}

.ApiUnhealthy div h1 { 
    color: white !important;
}

.ApiUnhealthy div h5 { 
    color: white !important;
}

.ApiUnhealthy div .error {
    font-size: 0.8rem;
    font-family: monospace;
}

.ApiUnhealthy div a {
    color: white;
}