.Leaderboards {
    cursor: pointer;
}

.Leaderboards.Leaderboards-Row {
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Leaderboards.Leaderboards-Row .Leaderboards-Content {
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

.Leaderboards.Rank {

}