.NoActivityCard {

}

.NoActivityCard .CtaButton {
    margin-bottom: 10px;
    border: none !important;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    background-color: #3ed194;
}

.NoActivityCard .CtaButton:hover {
    background-color: #32bc83;
}
