.ProfileModal {
    position: absolute;
    min-width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
    animation: fadein 0.5s;
    background-color: white;
    border-radius: 8px;
    max-height: 100%;
    overflow-y: auto;
    display: block;
    overflow: auto;
}

.ProfileModal-Container {
    display: flex;
    flex-direction: row;
}

.ProfileModal-Column {
    flex: 1;
}

.ProfileModal>.columns {
    margin-right: 0px !important;
    margin-bottom: 0px !important;
}

.ProfileModal>.columns>.column.ProfileModal-Header {
    padding: 0px;
}

.ProfileModal-Header {
    min-height: 400px;
    padding: 20px;
    /*background: #67B26F;*/
    /*background: #16A085;*/
    background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #38ef7d, #11998e);
    background: linear-gradient(to top, #38ef7d, #11998e);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ProfileModal-Header>div {
    text-align: center;
    color: white;
}

.ProfileModal-Header>div>div>.tag {
    font-size: 15px;
}

.ProfileModal-Header>div>h1 {
    text-align: center;
    color: white;
}

.ProfileModal-Header>div>h5 {
    color: white;
}

.ProfileModal-Avatar {
    height: 100px;
    width: 100px;
    border: 4px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
}

.ProfileModal-Content {
    padding: 30px;
    max-width: 50%;
}

@media only screen 
   and (max-width : 1024px) {
    .ProfileModal {
        left: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ProfileModal-Container {
        flex-direction: row;
    }
}

@media only screen 
   and (max-width : 500px) {
    .ProfileModal {
        left: 0;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ProfileModal-Container {
        flex-direction: column;
    }
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

body.ReactModal__Body--open #root {
    /* Disable that blurring */
    /* filter: blur(2px); */
}

.ProfileModalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}