.ProductCreateWizard {

}

.CreateProductForm {
    width: 100%;
}

.CreateProductForm .column.is-2 {
    padding: 30px;
}

.CreateProductForm .subtitle {
    margin-bottom: 5px;
}

.CreateProductForm .title {
}

.CreateProductForm input {
    width: 100%;
    background-color: #f1f2f6;
    border: none;
    outline: none;
    padding-left: 0px;
    border-radius: 6px;
    font-weight: 500;
    box-shadow: none;
    font-size: 1.5em;
    padding: 10px;
}

.CreateProductForm input::placeholder {
    color: lightgray;
}


.CreateProductForm .product-name {
    /*border-bottom: 3px solid #47E0A0;*/
}

.CreateProductForm textarea {
    font-size: 1em;
    background-color: #f1f2f6;
    border: none;
    border-radius: 6px;
    width: 100%;
    padding: 10px;
    outline: none;
}

.Modal-Content.Modal-VerticallyCentered {
    display: flex;
    align-items: center;
    justify-content: center;
}