.DiscussionsPage {

}

.ThreadStreamItem {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 17px;
}

.ThreadStreamItem > .card.pinned {
    border-left: 3px solid #47E0A0 !important;
}

.ThreadStreamItem .title {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ThreadStreamItem > .card {
    border: 0px none !important;
    border-radius: 4px;
    cursor: pointer;
    padding: 20px;
    transition: background-color .25s ease-in-out;
}

.ThreadStreamItem > div:hover {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2;
}

.ItemHeading.TimeAgo {
    margin-left: 5px;
}


.ThreadStreamItem .heading-link > a {
    color: #363636;
}

.ThreadStreamItem .heading-link > a:hover {
    text-decoration: underline;
}

.ThreadStreamItem .actions {
    font-size: 13px;
    margin-top: 10px;
}

.ThreadStreamItem .actions:hover {
    text-decoration: underline;
}

.ReplyForm textarea {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.ReplyForm .action-container {
    margin-top: 10px;
}

.ThreadTypeSelect {
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    display: inline-block;
    font-family: "Poppins";
    font-weight: bold;
    margin: 3px;
    cursor: pointer;
}

.ThreadTypeSelect:hover {
    background-color: whitesmoke;
}

.ThreadTypeSelect.is-selected {
    background-color: #009e6c;
    color: white;
    border: 2px solid #009e6c;
}

.SmallThread {
    border-radius: 5px;
    padding: 5px;
}

.SmallThread:hover {
    background-color: whitesmoke;
}

.SmallThread a {
    color: #0a0a0a;
}

.DiscussionsHero {
    background: #67B26F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4ca2cd, #67B26F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4ca2cd, #67B26F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.RecentQuestionsList h2 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: black;
}

.RecentQuestionsList .question-title {
    margin-bottom: 4px;
}

.RecentQuestionsList > a > div {
    transition: background-color .25s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

.RecentQuestionsList > a > div:hover {
    background-color: #f2f2f2 !important;
    transition: background-color .25s ease-in-out;
}

.Thread h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

