.ProductMedia {
    border-radius: 5px;
    box-shadow: none;
    border-top: none !important;
    padding-top: 0px !important;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

/*.ProductMedia:not(:last-child) {
    padding-bottom: 8px;
    border-bottom: 1px solid lightgrey;
    border-radius: 0px;
}*/

.ProductMedia.lazy {
    opacity: 0.6;
}