.KanbanView {
    padding-top: 20px;
    padding-bottom: 20px;
}

.KanbanView .KanbanProject {
}

.KanbanView .KanbanProject > .title-card {
    background-color: white;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    margin-bottom: 15px;
}

.KanbanView .KanbanProject > .title-card .color-circle {
    background-color:#fff;
    border:4px solid red;
    height:15px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    width:15px;
}

.KanbanTaskList {
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.KanbanTask {
    background-color: white;
    border-radius: 8px;
    /* TODO: Replace margin-bottom by last-item */
    padding: 0.8em;
    font-size: 1.1rem;
    position: relative;
    word-wrap: break-word;
}

.KanbanTask.remaining {
    border-left: 4px solid rgb(243, 156, 18);
    border-radius: 5px;
}

.KanbanTask.done {
    border-left: 4px solid green;
    border-radius: 5px;
    color: gray;
}


.KanbanTask .time-ago {
    font-size: 13px;
    color: lightgray;
}

.KanbanTask.done > .task-content {
    text-decoration: line-through;
}

.KanbanTask > .task-actions {
}

.KanbanTask > .task-actions button {
    background-color: darkgreen;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.KanbanTask > .hover-panel {
    background: white;
    position: absolute;
    top: 0;
    left: -4px;
    bottom: 0;
    width: calc(100% + 4px);
    border-radius: 5px;
    overflow: hidden;
    opacity: 0;
    display: grid;
    transition: opacity .25s;
    grid-auto-flow: column;
}

.KanbanTask:hover {
}

.KanbanTask:hover .hover-panel {
    opacity: 1;
}

.KanbanTask > .hover-panel a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.8em;
}

.KanbanTask > .hover-panel a.mark-done {
    background: green;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.KanbanTask > .hover-panel a.mark-in-progress {
    background: orange;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}



.KanbanTask > .hover-panel a.mark-remaining {
    background: darkorange;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}


.KanbanTask > .hover-panel a.edit-button {
    background: rgb(243, 156, 18);
    font-size: 1rem;
    grid-column-start: auto;
    grid-column-end: auto;
    font-weight: bold;
}

.KanbanTask > .hover-panel a.delete-button {
    background: red;
    font-size: 1rem;
    grid-column-start: auto;
    grid-column-end: auto;
    font-weight: bold;
}

.task-fade-enter {
    opacity: 0.01;
}

.task-fade-enter.task-fade-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.task-fade-leave {
    opacity: 1;
}

.task-fade-leave.task-fade-leave-active {
    opacity: 0.01;
    transition: opacity 500ms ease-in-out;
}

.Kanban-ListItem {
    margin-bottom: 10px;
}