.StreamCard {
    border-color: none;
    box-shadow: none;
    padding: 20px;
}

.StreamCard .projects ul > li {
    display: inline-block;
    /* You can also add some margins here to make it look prettier */
    zoom:1;
    *display:inline;
    /* this fix is needed for IE7- */
    padding-left: 3px;
    padding-right: 3px;
}